@import '../../../css/src/base.scss';

.radio__root {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	outline: none;
	gap: 8px;

	&.--default {
		.radio__input {
			background-color: $white;
		}

		.radio__svg {
			display: none;
		}
	}

	&.--checked {
		.radio__input {
			background-color: $portoSeguros100;
			border-color: $portoSeguros100;
		}

		.radio__svg {
			display: unset;
		}
	}

	&.--disabled {
		.radio__input {
			background-color: $black15;
			border-color: $black65;
		}

		.radio__svg {
			display: none;
		}

		.radio__label {
			color: $black65;
		}
	}
}