@import '../../../css/src/tokens/colors.scss';
@import '../../../css/src/tokens/breakpoints.scss';

.modal__content-icon-close {
  position: absolute;
  top: 2rem;
  right: 0.8rem;
  cursor: pointer;
  border: none;
  background-color: $alphaChannel;

  :focus:not(:active) {
    outline: 2px solid $portoSeguros100;
  }

  @media (min-width: $tablet-portrait) {
    right: 2rem;
  }

  @media (min-width: $tablet-landscape) {
    right: 2.4rem;
  }
}
